[submodule "third_party/brackets"]
	path = third_party/brackets
	url = git://github.com/zhizhangchen/brackets
[submodule "third_party/noVNC"]
	path = third_party/noVNC
	url = git://github.com/zhizhangchen/noVNC
[submodule "third_party/web-simulator"]
	path = third_party/web-simulator
	url = git://github.com/zhizhangchen/web-simulator
